.main-land {
    background: $themeColor;
    position: relative;
}

.play-block {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

.play-button {
    background: $themeColor;
    color: white;
    font-size: 40px;
    letter-spacing: 6px;
    text-align: center;
}

.bottom-block {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.setting-button {
    background: #4183D7;
    color: white;
    font-size: 40px;
    text-align: center;   
    border-radius: 5px;
    padding: 5px; 
}