.main-land {
    background: $themeColor;
    position: relative;
}

.play-block {
    margin-top: 40%;
    display: flex;
    justify-content: center;
}

.play-button {
    background: $themeColor2;
    color: $themeColor;
    font-size: 40px;
    letter-spacing: 6px;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    text-align: center;

    &:active {
        background: rgb(191, 178, 247);
        color: white;
    }
}

.bottom-block {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.setting-button {
    background: $themeColor2;
    color: $themeColor;
    font-size: 35px;
    text-align: center;   
    border-radius: 5px;
    width: 50px;
    height: 50px; 
}

.level-block {
    margin-top: 30px;
    margin-left: 30px;
}

.level-text {
    font-size: 16px;
    background: $themeColor2;
    color: $themeColor;
    padding: 3px 15px;
    padding-right: 20px;
    border-radius: 5px;
}

.level-number {
    border-radius: 5px;
    text-align: center;
    background: $themeColor;   
    border: 2px solid $themeColor2;
    margin-left: -5px;
    padding: 5px 10px;

    font-size: 24px;
    color: white;
}

.level-merge {
    display: flex;
    align-items: center;
}