<ion-header>
  <ion-navbar class="main-nav">
    <ion-title>
      Puzzle world
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-header">
  <section class="img-box">

  </section>

  <section class="answer-block">
   <div *ngFor="let item of userSelected" class="letter-box">
     {{item}}
   </div>
  </section>

  <section class="shuffle-block">
    <div *ngFor="let item of finalRandomLetters | slice:0:5; let i = index;" class="letter-box-shuffle"
     (click)="shuffleTap(item, i)">
        {{item}}
    </div>
    </section>
    <section>
    <div *ngFor="let item of finalRandomLetters | slice:5:10; let i = index;" class="letter-box-shuffle"
     (click)="shuffleTap(item, i+5)">
        {{item}}
    </div>
  </section>
</ion-content>