.has-header {
    background-color: #f1c40f;
}

.main-nav {
    text-align: center;
}

.img-box {
    height: 250px;
}

.answer-block {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.letter-box {
    width: 30px;
    height: 30px;
    background: #19232e;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;

    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}