<ion-header>
  <ion-navbar class="main-nav">
    <ion-title>
      Puzzle world
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-header">

  <section *ngIf="!isAnswerCorrect">
    <section class="img-box">
    
    </section>
    
    <section class="answer-block" *ngIf="!showResult">
      <div *ngFor="let item of userSelected; let i = index;" class="letter-box" (click)="shuffleAnswerTap(item, i)">
        {{item}}
      </div>
    </section>
    
    <section *ngIf="showResult" class="answer-block">
      <div *ngIf="!isAnswerCorrect">
        Wrong!
      </div>
    </section>
    
    <section class="shuffle-block">
      <div *ngFor="let item of finalRandomLetters | slice:0:5; let i = index;" class="letter-box-shuffle" (click)="shuffleTap(item, i)">
        {{item}}
      </div>
    </section>
    <section class="shuffle-block">
      <div *ngFor="let item of finalRandomLetters | slice:5:10; let i = index;" class="letter-box-shuffle" (click)="shuffleTap(item, i+5)">
        {{item}}
      </div>
    </section>
  </section>

  <section *ngIf="isAnswerCorrect" class="correct-block">
      <div>
        Correct!
      </div>
      <div>
        <button ion-button color="light" round>Next</button>
      </div>
  </section>

</ion-content>