.has-header {
    background-color: #f1c40f;
}

.main-nav {
    text-align: center;
}

.img-box {
    height: 250px;
}

.answer-block {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.letter-box {
    width: 40px;
    height: 40px;
    background: #19232e;
    border-radius: 5px;
    display: inline-block;
}